In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
data = pd.read_excel(r"/content/drive/MyDrive/data/final_byculla_back_clean.xlsx")
data.head()

  final_cts              cts
0       NaN              NaN
1       NaN              NaN
2       NaN              NaN
3       NaN              NaN
4     1971   1971 मध्दे आहे.

In [ ]:
#data['Village'].value_counts()

In [ ]:
#data2 = data.loc[data['Village']=="Mahim"]
data2 = data

In [ ]:
data2

      final_cts              cts
0           NaN              NaN
1           NaN              NaN
2           NaN              NaN
3           NaN              NaN
4         1971   1971 मध्दे आहे.
...         ...              ...
37970      1902             1902
37971       137              137
37972       000              000
37973      1910             1910
37974      1960             1960

[37975 rows x 2 columns]

In [ ]:
#data2 = data["cts"]
data3 = data2["final_cts"]
data3 = pd.DataFrame(data3)
data3["final_cts"] = data3["final_cts"].astype(str)

In [ ]:
#from google.colab import files
# Export the DataFrame to Excel
#with open('mahim.xlsx', 'wb') as f:
    #data3.to_excel(f, index=False)

# Download the Excel file
#files.download('mahim.xlsx')

In [ ]:
regex1 = r'सी\s+टी\s+एस\s+नं\s+' # सी टी एस नं
regex2 = r'सी\s+टी\s+स\s+नं\s+'  # सी टी स नं
regex3 = r'सि\s+टी\s+स\s+नं\s+'  # सि टी स नं
regex4 = r'सि\s+टी\s+एस\s+नं\s+' # सि टी एस नं
regex5 = r'सि\s+एस\s+नं\s+'     #  सि एस नं
regex6 = r'सिएस\s+नं\s+'        # सिएस नं
regex7 = r'सिटीएस\s+नं\s+'       # सिटीएस नं
regex8 = r'सिटीएस\s+नंबर\s+'     # सि.टी.एस. नंबर
regex9 = r'CTS\s+Number\s+'    # CTS Number
regex10 = r'C.T.S. Number : (.*?);' # C.T.S. Number

num_cells1 = data3["final_cts"].str.count(regex1)
num_cells2 = data3["final_cts"].str.count(regex2)
num_cells3 = data3["final_cts"].str.count(regex3)
num_cells4 = data3["final_cts"].str.count(regex4)
num_cells5 = data3["final_cts"].str.count(regex5)
num_cells6 = data3["final_cts"].str.count(regex6)
num_cells7 = data3["final_cts"].str.count(regex7)
num_cells8 = data3["final_cts"].str.count(regex8)
num_cells9 = data3["final_cts"].str.count(regex9)
num_cells10 = data3["final_cts"].str.count(regex10)

print(num_cells1.sum())
print(num_cells2.sum())
print(num_cells3.sum())
print(num_cells4.sum())
print(num_cells5.sum())
print(num_cells6.sum())
print(num_cells7.sum())
print(num_cells8.sum())
print(num_cells9.sum())
print(num_cells10.sum())

5
0
0
0
1
0
0
0
0
0

Types of CTS number

सि टी स नं 2147 **

सि टी एस नं 17 अे 1504/2345 *

सि ब्ी एस नं 4/460 **

सि टी स नं 2/229 **

सि टी एचस नं 2/404  आणि 404 *

सि टी एस वनं 760 **

सि एस नं 1800/233 **

सी एस नं 1581/233 **

किस एस नं 2011/5783 **

सि एस नं 522/523/524 **

सि डएस नं 2224 **

सि एस 16 **

सि टी एस नं 2147 *

In [ ]:
# trial-14 cts extraction:

import re

def extract_cts_code14(text):

  CTS_CODE_REGEX = r'C.T.S. Number : (.*?)(\d+)((\/)?\w+)?((\/)?\w+)'
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return text

# Example usage:
#Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295,  Leave and License Months:11
text = "(Corporation: Mumbai , Other details: Apartment/Flat No:602, Floor No:6TH FLOOR, C WING, Building Name:DEEPANKAR CHS, Block Sector:PRABHADEVI - 400025, Road:S L MATKAR MARG, City:Mahim, District:Mumbai,     C.T.S. Number : 295/423/353,  Leave and License Months:11)"

# Extract the CTS code
cts_code = extract_cts_code14(text)

# Print the CTS code to the console
print(cts_code)

C.T.S. Number : 295/423/353

In [ ]:
# trial-13 cts extraction:

def extract_cts_code13(text):

  cts_code_regex = r'सी\s+टी\s+एस\s+नं\s+(\d+)/?\w?\d+'
  match = re.search(cts_code_regex, text)
  if match:
    return match.group()
  else:
    return text


# Example usage:

text = "(पालिकेचे नाव:इतर वर्णन :सी टी एस नं 2/229 भायखळा)"
cts_code = extract_cts_code13(text)

print(cts_code)

सी टी एस नं 2/229

In [ ]:
# trial-12 cts extraction:

import re

def extract_cts_code12(text):
  """Extracts the CTS code from a given text.

  Args:
    text: The text to extract the CTS code from.

  Returns:
    The CTS code, or None if no CTS code is found.
  """

  CTS_CODE_REGEX = r'सि\s+एस\s+(\d+)((\/)?\w+)?((\/)?\w+)'
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return text


# Example usage:

text = "(पालिकेचे नाव:इतर वर्णन :सि एस 16/7415/5353 भायखळा)"
cts_code = extract_cts_code12(text)

print(cts_code)

सि एस 16/7415/5353

In [ ]:
# trial-11 cts extraction:

import re

def extract_cts_code11(text):
  """Extracts the CTS code from a given text.

  Args:
    text: The text to extract the CTS code from.

  Returns:
    The CTS code, or None if no CTS code is found.
  """

  CTS_CODE_REGEX = r'सि\s+डएस\s+नं\s+(\d+)((\/)?\w+)?((\/)?\w+)'
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return text


# Example usage:

text = "(पालिकेचे नाव:इतर वर्णन :सि डएस नं 2224/7415/5353 भायखळा)"
cts_code = extract_cts_code11(text)

print(cts_code)

सि डएस नं 2224/7415/5353

In [ ]:
# trial-10 cts extraction:

import re

def extract_cts_code10(text):
  """Extracts the CTS code from a given text.

  Args:
    text: The text to extract the CTS code from.

  Returns:
    The CTS code, or None if no CTS code is found.
  """

  CTS_CODE_REGEX = r'सि\s+एस\s+नं\s+(\d+)((\/)?\w+)?((\/)?\w+)'
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return text


# Example usage:

text = "(पालिकेचे नाव:इतर वर्णन :सि एस नं 522/523/524 भायखळा)"
cts_code = extract_cts_code10(text)

print(cts_code)

सि एस नं 522/523/524

In [ ]:
# trial-9 cts extraction:

import re

def extract_cts_code9(text):
  """Extracts the CTS code from a given text.

  Args:
    text: The text to extract the CTS code from.

  Returns:
    The CTS code, or None if no CTS code is found.
  """

  CTS_CODE_REGEX = r'किस\s+एस\s+नं\s+(\d+)((\/)?\w+)?'
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return text


# Example usage:

text = "(पालिकेचे नाव:इतर वर्णन :किस एस नं 2011/5783 भायखळा)"
cts_code = extract_cts_code9(text)

print(cts_code)

किस एस नं 2011/5783

In [ ]:
# trial-8 cts extraction:

import re

def extract_cts_code8(text):
  """Extracts the CTS code from a given text.

  Args:
    text: The text to extract the CTS code from.

  Returns:
    The CTS code, or None if no CTS code is found.
  """

  CTS_CODE_REGEX = r'सि\s+टी\s+एस\s+वनं\s+(\d+)((\/)?\w+)?'
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return text


# Example usage:

text = "(पालिकेचे नाव:इतर वर्णन :सि टी एस वनं 760 भायखळा)"
cts_code = extract_cts_code8(text)

print(cts_code)

सि टी एस वनं 760

In [ ]:
# trial-7 cts extraction:  in process

import re

def extract_cts_code(text):
  """Extracts the CTS code from a given text.

  Args:
    text: The text to extract the CTS code from.

  Returns:
    The CTS code, or None if no CTS code is found.
  """

  CTS_CODE_REGEX = r'(सि\s+टी\s+एचस\s+नं\s+(\d+)((\/)?\w+))(\s+\w+)*?\s+((\w+))'
  #CTS_CODE_REGEX = r'(सि\s+टी\s+एचस\s+नं\s+(\d+)((\/)?\w+))(\w+)\s+((\w+))'

  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group(0)
  else:
    return text


# Example usage:

text = "(पालिकेचे नाव:इतर वर्णन :सि टी एचस नं 2/404 आणि 404 भायखळा)"
cts_code = extract_cts_code(text)

print(cts_code)

सि टी एचस नं 2/404 आण

In [ ]:
# trial-6 cts extraction:

def extract_cts_code6(text):
  """Extracts the CTS code from a given text.

  Args:
    text: The text to extract the CTS code from.

  Returns:
    The CTS code, or None if no CTS code is found.
  """

  CTS_CODE_REGEX = r'सि\s+टी\s+स\s+नं\s+(\d+)((\/)?\w+)?'
  match = re.search(CTS_CODE_REGEX, text)
  if match:
    return match.group()
  else:
    return text


# Example usage:

text = "(पालिकेचे नाव:इतर वर्णन :सि टी स नं 2/229 भायखळा)"
cts_code = extract_cts_code6(text)

print(cts_code)

सि टी स नं 2/229

In [ ]:
# trial-5 cts extraction:

def extract_cts_code5(text):
  """Extracts the CTS code from a given text.

  Args:
    text: The text to extract the CTS code from.

  Returns:
    The CTS code, or None if no CTS code is found.
  """

  cts_code_regex = r'सि\s+ब्ी\s+एस\s+नं\s+(\d+)((\/)?\w+)?'
  match = re.search(cts_code_regex, text)
  if match:
    return match.group()
  else:
    return text


# Example usage:

text = "(पालिकेचे नाव:इतर वर्णन :सि ब्ी एस नं 4/460)"
cts_code = extract_cts_code5(text)

print(cts_code)

सि ब्ी एस नं 4/460

In [ ]:
# trial-4 cts extraction:  in process

def extract_cts_code(text):
  """Extracts the CTS code from a given text.

  Args:
    text: The text to extract the CTS code from.

  Returns:
    The CTS code, or None if no CTS code is found.
  """

  cts_code_regex = r'(\W|^)(सि\s+टी\s+एस\s+नं\s+(\d+)((\/)?\w+)?)(?=\W|$)'
  match = re.search(cts_code_regex, text)
  if match:
    return match.group()
  else:
    return text


# Example usage:

text = "(पालिकेचे नाव:इतर वर्णन :सि टी एस नं 17 अे 1504/2345 भायखळा)"
cts_code = extract_cts_code(text)

print(cts_code)

:सि टी एस नं 17

In [ ]:
# trial-3 cts extraction:

def extract_cts_code3(text):

  cts_code_regex = r'सी\s+टी\s+स\s+नं\s+(\d+)/?\w?\d+'
  match = re.search(cts_code_regex, text)
  if match:
    return match.group()
  else:
    return text


# Example usage:

text = "(पालिकेचे नाव:इतर वर्णन :सी टी स नं 2/229 भायखळा)"
cts_code = extract_cts_code3(text)

print(cts_code)

सी टी स नं 2/229

In [ ]:
# trial-2 cts extraction:

def extract_cts_code2(text):
  """Extracts the CTS code from a given text, including the wordings "सि एस नं".

  Args:
    text: The text to extract the CTS code from.

  Returns:
    The CTS code, or None if no CTS code is found.
  """

  cts_code_regex = r'सी\s+एस\s+नं\s+(\d+)/?\w?'
  match = re.search(cts_code_regex, text)
  if match:
    return match.group()
  else:
    return text


# Example usage:

text = "(पालिकेचे नाव:इतर वर्णन :सी एस नं 1581/233     बिल्ट अप - 84.20 चौ मी)"
cts_code = extract_cts_code2(text)

print(cts_code)

सी एस नं 1581/2

In [ ]:
# trial-1 cts extraction:
def extract_cts_code1(text):
  """Extracts the CTS code from a given text, including the wordings "सि एस नं".

  Args:
    text: The text to extract the CTS code from.

  Returns:
    The CTS code, or None if no CTS code is found.
  """

  cts_code_regex = r'(सि\s+एस\s+नं\s+(\d+)/?\w?\d+)'
  match = re.search(cts_code_regex, text)
  if match:
    return match.group()
  else:
    return text


# Example usage:

text = "(पालिकेचे नाव:इतर वर्णन :सि एस नं 3/493     बिल्ट अप - 84.20 चौ मी)"
cts_code = extract_cts_code(text)

print(cts_code)

(पालिकेचे नाव:इतर वर्णन :सि एस नं 3/493     बिल्ट अप - 84.20 चौ मी)

In [ ]:
# trial-0 cts extraction:
import re

def extract_cts_code(text):
  """Extracts the CTS code from a given text.

  Args:
    text: The text to extract the CTS code from.

  Returns:
    The CTS code, or None if no CTS code is found.
  """

  cts_code_regex = r'सि\s+एस\s+नं\s+\d+'
  match = re.search(cts_code_regex, text)
  if match:
    return match.group()
  else:
    return text


# Example usage:

text = "पालिकेचे नाव:इतर वर्णन :सि एस नं 758   मासिक भाडे 3900"
cts_code = extract_cts_code(text)

print(cts_code)

सि एस नं 758

In [ ]:
#cts_code_number = extract_cts_code_number(text)
data3["final_cts"]
data3["CTS number14"] = data3["final_cts"].apply(extract_cts_code14)
data3["CTS number13"] = data3["final_cts"].apply(extract_cts_code13)
data3["CTS number12"] = data3["final_cts"].apply(extract_cts_code12)
data3["CTS number11"] = data3["final_cts"].apply(extract_cts_code11)
data3["CTS number10"] = data3["final_cts"].apply(extract_cts_code10)
data3["CTS number9"] = data3["final_cts"].apply(extract_cts_code9)
data3["CTS number8"] = data3["final_cts"].apply(extract_cts_code8)
data3["CTS number6"] = data3["final_cts"].apply(extract_cts_code6)
data3["CTS number5"] = data3["final_cts"].apply(extract_cts_code5)
data3["CTS number3"] = data3["final_cts"].apply(extract_cts_code3)
data3["CTS number2"] = data3["final_cts"].apply(extract_cts_code2)
data3["CTS number1"] = data3["final_cts"].apply(extract_cts_code1)
data3["CTS number"] = data3["final_cts"].apply(extract_cts_code)

In [ ]:
data3.columns
print(data3)

      final_cts CTS number14 CTS number13 CTS number12 CTS number11  \
0           nan          nan          nan          nan          nan
1           nan          nan          nan          nan          nan
2           nan          nan          nan          nan          nan
3           nan          nan          nan          nan          nan
4         1971         1971         1971         1971         1971
...         ...          ...          ...          ...          ...
37970      1902         1902         1902         1902         1902
37971       137          137          137          137          137
37972       000          000          000          000          000
37973      1910         1910         1910         1910         1910
37974      1960         1960         1960         1960         1960

      CTS number10 CTS number9 CTS number8 CTS number6 CTS number5  \
0              nan         nan         nan         nan         nan
1              nan         nan         nan         nan         nan
2              nan         nan         nan         nan         nan
3              nan         nan         nan         nan         nan
4            1971        1971        1971        1971        1971
...            ...         ...         ...         ...         ...
37970         1902        1902        1902        1902        1902
37971          137         137         137         137         137
37972          000         000         000         000         000
37973         1910        1910        1910        1910        1910
37974         1960        1960        1960        1960        1960

      CTS number3 CTS number2 CTS number1 CTS number
0             nan         nan         nan        nan
1             nan         nan         nan        nan
2             nan         nan         nan        nan
3             nan         nan         nan        nan
4           1971        1971        1971       1971
...           ...         ...         ...        ...
37970        1902        1902        1902       1902
37971         137         137         137        137
37972         000         000         000        000
37973        1910        1910        1910       1910
37974        1960        1960        1960       1960

[37975 rows x 14 columns]

In [ ]:
data3["CTS number"].value_counts()

nan                                   9669
1960                                   460
00                                     409
1944,1/1944,2/1944,3/1944 व 5/1944     364
1944                                   334
                                      ...
1875,                                    1
386 Part                                 1
81,                                      1
537/H,                                   1
3ए/1871                                  1
Name: CTS number, Length: 3860, dtype: int64

In [ ]:
data3.columns

Index(['final_cts', 'CTS number14', 'CTS number13', 'CTS number12',
       'CTS number11', 'CTS number10', 'CTS number9', 'CTS number8',
       'CTS number6', 'CTS number5', 'CTS number3', 'CTS number2',
       'CTS number1', 'CTS number'],
      dtype='object')

In [ ]:
#df = df.assign(new_column=None)

#print(df)

In [ ]:
# final column : combining data from all the columns
data3['final']=data3["CTS number14"]
data3['final'] = data3['final'].fillna(data3["CTS number13"])
data3['final'] = data3['final'].fillna(data3["CTS number12"])
data3['final'] = data3['final'].fillna(data3["CTS number11"])
data3['final'] = data3['final'].fillna(data3["CTS number10"])
data3['final'] = data3['final'].fillna(data3["CTS number9"])
data3['final'] = data3['final'].fillna(data3["CTS number8"])
data3['final'] = data3['final'].fillna(data3["CTS number6"])
data3['final'] = data3['final'].fillna(data3["CTS number5"])
data3['final'] = data3['final'].fillna(data3["CTS number3"])
data3['final'] = data3['final'].fillna(data3["CTS number2"])
data3['final'] = data3['final'].fillna(data3["CTS number1"])
data3['final'] = data3['final'].fillna(data3["CTS number"])

In [ ]:
data4 = data3['final']

In [ ]:
data4["cts"]=data2["final_cts"]
print(data4.head(50))

0       nan
1       nan
2       nan
3       nan
4     1971
5       nan
6       nan
7       nan
8       nan
9     1785
10      nan
11     222
12      nan
13      nan
14      nan
15    1053
16      nan
17      nan
18      nan
19      nan
20      nan
21      nan
22      nan
23      nan
24      nan
25      nan
26      nan
27      nan
28      nan
29      nan
30      nan
31      nan
32      nan
33      nan
34      nan
35      nan
36      nan
37      nan
38      nan
39      nan
40      nan
41      nan
42      nan
43      nan
44      nan
45     226
46      nan
47      nan
48      nan
49      nan
Name: final, dtype: object

In [ ]:
from google.colab import files
# Export the DataFrame to Excel
with open('byculla.xlsx', 'wb') as f:
    data4.to_excel(f, index=False)

# Download the Excel file
files.download('byculla.xlsx')